@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


/* Glow Border (optional for buttons or elements) */
@keyframes glowBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-glow-border {
  background: linear-gradient(300deg, #00f0ff, #ff00f0, #00ff94, #ffd500);
  background-size: 600% 200%;
  animation: glowBorder 4s linear infinite;
  border-radius: 1rem;
  padding: 5px;
}

.animate-glow-border--circle {
  border-radius: 9999px;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
  background-image: url(red.jpg);
}

input:valid:not(:placeholder-shown){
  border-color: green;
  background-image: url(green.jpg);
}

input:invalid:not(:placeholder-shown),
input:valid:not(:placeholder-shown){
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 2%);
}

input:invalid + p:not(:placeholder-shown){
    color: red;
}

input:invalid ~ button[type="submit"]{
  opacity: 1.6;
  pointer-events: none;
}