@import "tailwindcss";

html{
   scroll-behavior: smooth;
}

@keyframes glowBorder{
0%{
  background-position: 0% 50%;
}

50%{
background-position: 100% 50%;

}


100%{
background-position: 0% 50%;
}
}

.animate-glow-border{
background:linear-gradient(300deg,  #00f0ff, #ff00f0, #00ff94, #ffd500) ;
background-size: 600% 200%;
animation: glowBorder 4s linear infinite;
border-radius: 1rem;
padding: 5px;

}

.animate-glow-border--circle{
    border-radius: 9999px;
}